body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

th {
  background: #f4f4f4;
}
img{
  width: 100%;
  height: 100%;
}
.show-img{
  width: 50%;
  height: auto;
}